<h1>Liste des produits</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="category">Catégorie</label>
                <select id="category" class="form-control" [(ngModel)]="SelectedCategory" (change)="CategoryChanged()">
                    <option *ngFor="let category of Categories" [ngValue]="category">{{category.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="subCategory">Sous-Catégorie</label>
                <select id="subCategory" class="form-control" [(ngModel)]="SelectedSubCategory"
                    (change)="SubCategoryChanged()">
                    <option *ngFor="let subCategory of SubCategories" [ngValue]="subCategory">{{subCategory.name}}
                    </option>
                </select>
            </div>

        </div>

        <div class="col-md-10">

            <p *ngFor="let Product of FilteredProducts"></p>

            <p *ngIf="FilteredProducts.length === 0">Aucun produit de disponible</p>
        </div>
    </div>

</div>